body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #cdb4db;
}

#galery {
  background-color: #cdb4db;
}
section {
  padding-top: 5rem;
}

.footer-color {
  background-color: #cdb4db;
}
