body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #ffafcc;
}

#galery {
  background-color: #ffc8dd;
}
section {
  padding-top: 5rem;
}

.footer-color {
  background-color: #fe86c8;
}
